*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}
a{
    text-decoration: none;
}
/*客户案例样式*/
#index-customer-case{
    width: 100%;
    height: 630px;
    background-color:#EEEEEE;
}
.index-case-p1{
    font-size: 30px;
    color:#399BC4;
    padding-top: 40px;
    margin-bottom: 32px;
    text-align: center;
}
.index-case-p2{
    font-size: 14px;
    text-align: center;
    margin-bottom: 45px;
}
#index-case-content{
    width:1200px ;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#index-case-img{
    width:3600px;
    height: 400px;
    position: absolute;
}
.index-case-a{
    width: 1200px;
    height: 400px;
    float: left;
    background: url("../img/first_images/018.jpg");
}
.index-case-b{
    float: left;
    width: 1200px;
    height: 400px;
    background: url("../img/first_images/019.jpg");
}
.index-case-c{
    float: left;
    width: 1200px;
    height: 400px;
    background: url("../img/first_images/020.jpg");
}
#index-case-radius{
    position: absolute;
    left: 556px;
    top: 355px;
}
#index-case-radius span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: white;
    z-index: 100;
}
#index-case-radius .on{
    background: gray;
}
.index-trans{
    text-decoration: none;
    color: white;
    font-size: 70px;
    font-family: "Adobe 宋体 Std L";
}
#index-trans_left{
    position: absolute;
    top: 158px;
}
#index-trans_right{
    position: absolute;
    top: 168px;
    left: 1168px;
}
/*CEO样式*/
#index_boss{
    width: 100%;
    height: 430px;
    background:url("../img/first_images/bg22.jpg");
}
#index_boss_item{
    margin: auto;
    width: 1200px;
    padding-top: 65px;
}
.index_boss_ul{
    height: 180px;
    list-style-type: none;
    margin-bottom: 10px;
}
.index_boss_ul>li{
    width:112px ;
    height: 175px;
    float: left;
    margin-left: 70px;
    margin-right: 55px;
    font-size: 12px;
}
.index_boss_ul>li>p{
    text-align: center;
    margin-top: 5px;
    color: white;
}
/*CEO切换样式*/
.index_boss_sub{
    display: none;
    text-align: center;
    color: #F19149;
    font-size: 14px;
}
#index_boss_sub_first{
    display: block;
}
.index_boss_ul img{
    border: 3px solid rgba(254, 254, 254, 0);
}
.index_boss_ul img:hover{
    border: 3px solid #F19149;
    border-radius: 50%;
}

/*最新动态样式*/
#index_news{
    width: 100%;
    height: 470px;
    background:#EEEEEE;
}
#index_news_content{
    margin: auto;
    width: 1200px;
    height: 360px;
    padding-top: 110px;
}
#index_news_content p{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: #399BC4;
}
#index_news_content a{
    color:gray;
}
#index_news_content ul{
    list-style-type: none;
}
#index_news_content a:hover{
    color: #399BC4;
}
.index_news_title li{
    float: left;
    font-size: 14px;
    margin-right: 47px;
}
#index_news_nav{
    width: 800px;
    float: left;
}
.index_news_title{
    padding-bottom: 35px;
}
.index_news_item{
    background: #399BC4;
}
.index_news_item li{
    float: left;
    width: 400px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}
#index_news_right{
    float: left;
    width: 80px;
}
#index_news_right span{
    font-size: 20px;
    color: gray;
}
#index_news_right img{
    float: left;
    width: 375px;
    height: 160px;
    margin-top: 46px;
}
.index_news_item{
    display: none;
}
#index_news_item_first{
    display: block;
}
#index-more{
    font-size: 14px;
}