*{
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    font-family: "微软雅黑";  }

/*首页头部*/
#index_head {
    width: 1902px;
}

/*轮播显示*/
#index_scroll{
    overflow: hidden;
    position: relative;
    width: 1902px;
    height: 560px;
    cursor: pointer;
}
/*轮播图片集合*/
#img_list{
    position: absolute;
    left: 0;
    width: 5706px;
    height: 560px;
}
#img_list li{
    list-style-type: none;
    float: left;
}
#img_list img{
    width: 1902px;
    height: 560px;
}
/*轮播底部按钮*/
#scroll_buttons {
    position: absolute;
    left: 930px;
    bottom: 20px;
}
#scroll_buttons span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}
#scroll_buttons .sty {
    background: #f00;
}

/*轮播左右箭头*/
.arrow {
    display: none;
    position: absolute;
    top: 200px;
    width: 30px;
    height: 50px;
}

#index_scroll:hover .arrow {
    display: block;
}
#prev {
    left: 50px;
    background: url("../img/first_images/prev.png") no-repeat ;
}
#next {
    right: 50px;
    background: url("../img/first_images/next.png") no-repeat;
}
/*轮播结束*/


/*首页导航*/
#index_nav {
    position: absolute;
    top: 0;
    left: 20%;
    width: 1200px;
    line-height: 60px;
    margin: 0 auto;
    height: 60px;
    cursor: pointer;
}

.index_nav_logo {
    float: left;
    width: 145px;
    height: 45px;
    margin-top: 10px;
}

.index_nav_list {
    float: right;
    list-style-type: none;
    width: 675px;
    height: 60px;
}

.index_nav_list > li {
    float: left;
    width: 110px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.index_nav_list li a{
    color: #fff;
    text-decoration: none;
}

/*二级菜单*/
.index_second-menu {
    display: none;
    list-style-type: none;
    width: 135px;
    text-align: center;
    background: #fff;
    opacity: .8;
}

.index_nav_list > li:hover .index_second-menu {
    display: block;
}

.index_second-menu li {
    height: 32px;
    line-height: 30px;
}

.index_second-menu li a{
    color: #434242;
    font-size: 14px;
    text-decoration: none;
}

.index_second-menu li:hover {
    background: #3D9EBC;
}

/*官方动态*/
#index_news{
    overflow: hidden;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #e8e8e8;
    background: #f2f2f2;
    cursor: pointer;
}
#index_official_dynamic {
    position: relative;
    width: 1200px;
    height: 35px;
}
#index_official_dynamic>h6{
    float: left;
    padding: 0 20px;
    color: #434242;
    font-weight: normal;
    background: url("../img/first_images/news.png") no-repeat left center;
}
/*显示区*/
.dynamic_show{
    float: left;
    width: 600px;
    height: 35px;
}
.index_new_list{
    list-style-type: none;
    width: 600px;
    height: 105px;
}
.index_new_list>li{
    width: 600px;
    height: 35px;
}
.index_new_list a{
    color: #434242;
    font-size: 12px;
    text-decoration: none;
}

/*更多动态*/
#index_official_dynamic>span{
    display: inline-block;
    float: right;
    width: 50px;
    height: 35px;
}
#index_official_dynamic>span a{
    color: #434242;
    text-decoration: none;
    cursor: pointer;
}

#index_official_dynamic a:hover{
    color: #3D9EBC;
}

/*首页主体部分*/
#index_container {
    width: 1902px;
    height: 750px;
}

.container_main {
    margin-top: 60px;
    width: 1200px;
    height: 750px;
}

.container_head{
    width:1200px;
    height: 150px;
}
.container_section{
    float: left;
    margin-left: 50px;
    width: 170px;
    height: 155px;
}
.container_section dt {
    width: 170px;
    height: 120px;
}

#section1{  background: url("../img/first_images/icon2-2.png") no-repeat center;  }
#section2{  background: url("../img/first_images/icon3-3.png") no-repeat center;  }
#section3{  background: url("../img/first_images/icon102.png") no-repeat center;  }
#section4{  background: url("../img/first_images/icon5-5.png") no-repeat center;  }
#section5{  background: url("../img/first_images/icon1-5.png") no-repeat center;  }

.container_section>dd{
    height: 35px;
    text-align: center;
}
.container_section>dd a{
    color: #959595;
    font-size: 18px;
    line-height: 35px;
    text-decoration: none;
}
.container_section:hover #section1{  background: url("../img/first_images/icon1.png") no-repeat center;  }
.container_section:hover #section2{  background: url("../img/first_images/icon2.png") no-repeat center;  }
.container_section:hover #section3{  background: url("../img/first_images/icon3.png") no-repeat center;  }
.container_section:hover #section4{  background: url("../img/first_images/icon4.png") no-repeat center;  }
.container_section:hover #section5{  background: url("../img/first_images/icon5.png") no-repeat center;  }

#section_details{
    width: 1200px;
    height: 578px;
    border: 1px solid #3D9EBC;
    background: url("../img/first_images/bg1.png");
}
#section_list{
    overflow: hidden;
    width: 1200px;
    height: 550px;
    list-style-type: none;
}
#section_list>li{
    float: left;
    margin-top: 100px;
    width: 1290px;
    height: 550px;
    border: 1px solid #000;
    overflow: hidden;
}
.section_img{
    float: left;
    width: 470px;
    height: 360px;
}
.section_introduce{
    float: right;
    margin-right: 150px;
    width: 630px;
    height: 480px;
}

.section_introduce>span{
    display: block;
    line-height: 45px;
    font-size: 36px;
    color: #2597ba;
    margin-bottom: 30px;
}
.section_introduce>p{
    width: 100%;
    height: 245px;
    line-height: 35px;
    color: #535353;
    font-size: 18px;
}
.section_introduce>a{
    display: block;
    width: 187px;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #edab00;
    text-align: center;
    margin-top: 34px;
}
.section_introduce>a:hover{
    background: #f60;
}

/*首页脚部*/