*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
}
a{
    text-decoration: none;
}
/*产品系统样式开始*/
/*轮播样式*/
#production-customer-system{
    width: 100%;
    background: #2597BA;
    color: #fff;
}
#production-system-content{
    width:1200px ;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#production-system-img{
    width:3600px;
    height: 500px;
    position: absolute;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.production-system-a{
    width: 1200px;
    height: 500px;
    float: left;
    background: #2597BA;
}
.production-system-b{
    float: left;
    width: 1200px;
    height: 500px;
    background:#2597BA;
}
.production-system-c{
    float: left;
    width: 1200px;
    height: 500px;
    background:#2597BA;
}
/*图片切换轮播样式*/
#production-system-radius{
    margin: auto;
    width: 1200px;
    height: 200px;
}
.production-system-img1{
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 5px;
    border:1px solid #56A3D0 ;
}
.production-system-img1 dt{
    width: 200px;
    height: 150px;
}
.section1{
    background:url("../img/protect_images/icon29.png")no-repeat center 20px;
}
.section2{
    background:url("../img/protect_images/icon30.png")no-repeat center 20px;
}
.section3{
    background:url("../img/protect_images/icon31.png")no-repeat center 20px;
}
#on .section1{
    background:#56A3D0 url("../img/protect_images/icon32.png")no-repeat center 20px;
}
#on .section2{
    background:#56A3D0 url("../img/protect_images/icon33.png")no-repeat center 20px;
}
#on .section3{
    background:#56A3D0 url("../img/protect_images/icon34.png")no-repeat center 20px;
}
#on .arrow{
    width: 200px;
    height: 32px;
    background: url("../img/protect_images/icon35.png")no-repeat center center;
}
.section_title{
    color: black;
    text-align: center;
    position: relative;
    top: -50px;
}
#on .section_title{
    color: white;
}
.production-trans{
    text-decoration: none;
    color: white;
    font-size: 80px;
}
#production-trans_left{
    position: absolute;
    top: 197px;
    left: 0;
}
#production-trans_right{
    position: absolute;
    top: 202px;
    left: 1150px;
}
/*系统内容样式*/
.production-system-content{
    width: 500px;
    height: 300px;
    float: left;
}
.production-system_content-img{
    width: 512px;
    height: 290px;
    float: left;
}
.production-system-title a{
    display: block;
    width: 500px;
    height: 80px;
    font-size: 24px;
    color: #fff;
    padding-top: 66px;
    margin-left: 80px;
}
.production-system-content{
    line-height: 25px;
    margin: 0 80px 0 80px;
}
/*产品系统样式结束*/
